@import "./reset/normalize.css";
@import "./design-system/blue-label.css";
@import "./custom-properties/custom.css";

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    display: flex;
    flex-direction: row;
}

svg {
    width: var(--size-6);
    min-width: var(--size-6);
}

aside {
    min-width: 300px;
    background-color: var(--bg-color-2);
    padding: var(--space-200);
    display: flex;
    flex-direction: column;
    border: var(--solid-1) var(--bg-color-3);
    gap: var(--space-200);

    header {
        display: flex;
        align-items: center;
        color: var(--tx-color-1);
        gap: var(--space-100);

        svg {
            width: var(--size-8);
            min-width: var(--size-8);
            margin-inline: var(--space-075);
        }
        h1 {
            white-space: nowrap;
            font-size: var(--size-7);
        }
    }
    
    nav {
        height: 100%;

        ul {
            display: flex;
            flex-direction: column;
            gap: var(--space-025);
        }
        li {
            list-style: none;
            position: relative;
        }

        li > a {
            text-decoration: none;
            color: inherit;
        }
        & input[type="radio"] {
            display: none;
        }
        li:has(:checked) label {
            background-color: var(--selected-menu-color);
            outline: var(--solid-1) var(--selected-menu-color);
            color: var(--color);
        }
        li:has(:disabled) label {
            background-color: transparent;
            outline: transparent;
            color: var(--tx-color-3);
        }

        label {
            border-radius: var(--radius-3);
            padding: var(--space-075) var(--space-100);
            width: 100%;
            display: flex;
            align-items: center;
            gap: var(--space-050);
            outline: var(--solid-1) var(--bg-color-3);
            transition: 0.2s outline;

            &:hover  {
                outline: var(--solid-1) var(--bg-color-6);
            }
        }
    }
    
    footer {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        a {
            display: flex;
            text-decoration: none;
            color: inherit;
            &:hover {
                color: var(--color);
            }
        }

        label {
            display: flex;
        }

        svg {
            width: var(--size-8);
            min-width: var(--size-8);
        }

        .theme-switch svg {
            width: var(--size-6);
            min-width: var(--size-6);
        } 
    }
}

aside:has(input[id="1"]:checked) ~ main [data-content-1],
aside:has(input[id="2"]:checked) ~ main [data-content-2],
aside:has(input[id="3"]:checked) ~ main [data-content-3],
aside:has(input[id="4"]:checked) ~ main [data-content-4],
aside:has(input[id="5"]:checked) ~ main [data-content-5] {
    display: block;
    min-height: 100%;
}

[data-content-1],
[data-content-2],
[data-content-3],
[data-content-4],
[data-content-5] {
    display: none;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--space-200);
    background-color: var(--bg-color-1);
    position: relative;
}

/* Selector :has() permite obtener la referencia del elemento <selector> que tenga como hijo un elemento con clase .app-themes-switch */
main > section:has(.app-theme-switch){
    position: absolute;
    right: 0;
    top: 0;

    margin: var(--space-200);
    label {
        display: flex;
        padding: var(--space-075);
        border-radius: var(--radius-3);
        background-color: var(--bg-color-1);
        outline: var(--solid-1) var(--bg-color-3);
        transition: 0.2s outline;
        &:hover  {
            outline: var(--solid-1) var(--bg-color-6);
        }
    }
}

.app-theme-switch {
    width: max-content;

    .app-light {
        display: none;
    }
    .app-dark {
        display: block;
    }
    &:has( :checked ) {
        .app-light {
            display: block;
        }
        .app-dark {
            display: none;
        }
    }
    label {
        display: flex;
    }
    input[type="checkbox"] {
        display: none;
    }
}

/* timer app component - start */
.app-timer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-200);
    position: relative;

    .app-timer-content {
        height: 100%;
        overflow-y: auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: var(--space-150);
        padding: var(--space-025) var(--space-050);
        margin-right: var(--space-400);
    }

    .app-timer-btn_add {
        position: absolute;
        right: 0;
        bottom: 0;
        button {
            display: flex;
            padding: var(--space-075);
            border-radius: var(--radius-3);
            background-color: var(--color);
            outline: var(--solid-1) var(--bg-color-3);
            color: var(--bg-color-1);
            &:hover  {
                outline: var(--solid-1) var(--color);
            }
            svg {
                width: var(--size-6);
                min-width: var(--size-6);
            }
        }
    }
}
/* timer app component - end */


.app-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: #000;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s opacity, visibility;
    &:has([popover]:popover-open) {
        visibility: visible;
        opacity: .4;
    }
}

[popover]:popover-open {
    background-color: var(--bg-color-1);
    color: var(--tx-color-1);
    margin: auto;
}

